{% extends 'T_Tech/base_site.html' %}

{% block content %}
  <style>
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    white;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    white;
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    white;
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    white;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color:    white;
    }

    ::placeholder { /* Most modern browsers support this now. */
      color:    white;
    }
  </style>

  <div class="container-fluid  pb-0">
    <div class="row pb-0 mb-0">
      <div class="col-md-12 pb-0 mb-0">
        <div class="card pb-0 mb-0">
          <div class="card-header card-header-primary">
            <h4 class="card-title w-50">List of Employees</h4>
            <form method="GET">
                  <input id="search" name="search" type="text" placeholder="Search.." class="border-bottom text-light w-25" style="border: 0; background: none; position:absolute; top:15px; right:20px;" >
                  {% comment %} <input type="submit" class="btn btn-white pt-1 pb-1" value="Search" style="position:absolute; top:15px; left:320px;"> {% endcomment %}
            </form>
            {% comment %} <a class="btn btn-warning p-2" style="position:absolute; top:7px; right:10px;" href="{% url 'contractor_add' %}">
              <i class="material-icons">person_add</i> &nbsp;&nbsp; Add Employee
            </a> {% endcomment %}
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class=" text-primary">
                  <tr>
                    <th class="pt-0 pb-0">Name</th>
                    <th class="pt-0 pb-0">ID Number</th>
                    <th class="pt-0 pb-0">Shift</th>
                    <th class="pt-0 pb-0">Status</th>
                    <th class="pt-0 pb-0"></th>
                  </tr>
                </thead>
                <tbody>
                {% for emp in employees %}
                  <tr>
                    <td>{{emp}}</td>
                    <td>{{emp.id_number}}</td>
                    <td>{{emp.shift}}</td>
                    <td>{{emp.status}}</td>
                    <td class="td-actions text-right">
                      <a class="btn btn-primary text-light" href="{% url 'contractor_update' pk=emp.pk %}">
                          <i class="material-icons">edit</i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <nav aria-label="Page navigation example">
              <a class="btn btn-primary p-2 float-left" href="{% url 'contractor_add' %}">
                <i class="material-icons">person_add</i> &nbsp;&nbsp; ADD
              </a>
              {% if is_paginated %}
                <ul class="pagination justify-content-end">
                  {% if page_obj.has_previous %}
                    <li class="border-top border-bottom page-item border-left rounded-left"><a class="page-link" style="color: #9C27B0;" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                    <li class="border-top border-bottom page-item border-left rounded-left page-link disabled"</li>
                  {% endif %}
                  {% if page_obj.number|add:'-3' > 1 %}
                    <li class="border-top border-bottom page-item"  ><a class="page-link rounded" style="color: #9C27B0;" href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a></li>
                  {% endif %}
                  {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                      <li class="border-top border-bottom page-item page-link rounded text-light" style="background-color: #9C27B0;"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                      <li class="border-top border-bottom page-item"><a class="page-link rounded" style="color: #9C27B0;" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj.paginator.num_pages > page_obj.number|add:'3' %}
                    <li class="border-top border-bottom page-item" ><a class="page-link rounded" style="color: #9C27B0;" href="?page={{ page_obj.number|add:'3' }}">&hellip;</a></li>
                  {% endif %}
                  {% if page_obj.has_next %}
                    <li class="border-top border-bottom page-item border-right rounded-right"><a class="page-link" style="color: #9C27B0;" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                  {% else %}
                    <li class="border-top border-bottom page-item border-right rounded-right page-link disabled"></li>
                  {% endif %}
                </ul>
              {% endif %}
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>



{% endblock content %}


{% block script %}

{% endblock script %}