{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs no-print">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{{STATIC_URL}}/admin/contractor/" >Contractor</a>
    &rsaquo; <a href="{{STATIC_URL}}/admin/contractor/employee" >Employees</a>
    &rsaquo; <a href="javascript:history.back()" >{{emp.lastname}}, {{emp.firstname}} {{emp.middlename|first}}.</a>
    &rsaquo; Record
    {% comment %} <a href="javascript:history.back()" style="float: right">Back</a> {% endcomment %}

</div>
{% endblock %}
{% endif %}

{% block content %}

    <style style="text/css">
        .olo tr:hover th {
            color: #0275d8;
            transform: scale(1.5);
        }
        @media print {    
            .no-print, .no-print *
            {
                display: none !important;
            }
            #header{
                background-color: inherit;
                color: black;
            }
        }
        {% comment %} .pic:hover{
            transform: scale(1.5);
        } {% endcomment %}
    </style>
    <div style="display: flex; align-items:center; justify-content:center;">
    <div style="width: 65%; border: solid 1px silver; border-radius: 5px; display: flex; align-items:center; justify-content:center; padding:3px;">
        <div class="pic" style=" overflow:hidden; border-radius: 5px; height:100px;">{{emp.thumbnail}}</div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div style="font-size: 24px; font-weight: bold;">
            {{emp.lastname}}, {{emp.firstname}} {{emp.middlename|first}}.
            <br>
            <span style="font-size: 12px;  font-weight: Bold;">{{emp.company}}</span>
        </div>
    </div>
    </div>
    <br>
    <div style="display: flex; justify-content: center;">
        <table style="width: 65%;" >
            <thead>
                <tr>
                    <th style="text-align: center; font-size: 20px;">
                        <div class="text">
                            
                        </div>
                        <div class="clear"></div>
                    </th>
                    <th style="text-align: center; font-size: 20px;">
                        <div class="text">
                            <span>Date</span>
                        </div>
                        <div class="clear"></div>
                    </th>
                    <th style="text-align: center; font-size: 20px;">
                        <div class="text">
                            <span>Time In</span>
                        </div>
                        <div class="clear"></div>
                    </th>
                    <th style="text-align: center; font-size: 20px;">
                        <div class="text">
                            <span>Time Out</span>
                        </div>
                        <div class="clear"></div>
                    </th>
                    <th style="text-align: center; font-size: 20px;">
                        <div class="text">
                            <span>Shift</span>
                        </div>
                        <div class="clear"></div>
                    </th>
                </tr>
            </thead>
            <tbody class="olo">
                {% if record|length == 0 %}
                    <tr>
                        <th colspan=4 style="text-align:center; font-size: 32px; padding:20px;">NO DATA TO DISPLAY</th>
                    </tr>
                {% endif %}
                {% for rec in record %}
                <tr>
                    <th style="text-align: center; ">{{forloop.counter}}</th>
                    <th style="text-align: center; ">{{rec.petsa}}</th>
                    <th style="text-align: center; ">{{rec.timeIn|default_if_none:''}}</th>
                    <th style="text-align: center; ">{{rec.timeOut|default_if_none:''}}</th>
                    <th style="text-align: center; ">{{rec.shift|default_if_none:''}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
<script>
    window.onload = function() {
        document.getElementsByTagName("TITLE")[0].innerHTML = "{{emp.lastname}}, {{emp.firstname}} {{emp.middlename|first}}. | TIMEKEEPING";
    }
</script>
{% endblock %}