{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n admin_urls static admin_modify %}
{% load index_day %}
{% load index_ot %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript">
    document.title = '| T-TECH'
</script>

    <style>
        @media print{
            .dontPrint{
                display: none;
            }
            body{
                transform.scale(.9);
            }
            #header{
                background-color: inherit;
                color: black;
            }
        }
        .thead th{
            text-align: center; 
            border: solid 1px #E5E8E8; 
        }
        .tbody td{
            padding: 5px; 
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            border: solid 1px #E5E8E8;
        }
        .brsmall { 
            display: block; 
            margin-bottom: -.5em; 
        } 
        
    </style>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs dontPrint">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}
{% endif %}

{% block content %}
    <div style="display: flex; justify-content: center;">
        <table style="width: 100%;" >
            <thead class="thead">
                <tr>
                    <th colspan=19 style="font-size: 20px;">
                        {{user}}
                        <span class="brsmall"></span> 
                        <span style="font-size: 10px;">{{shift}}</span>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="text"></div>
                    </th>
                    <th>
                        <div class="text">{{ts.0|date:"Y"}}</div>
                    </th>
                    <th colspan=2>
                        <div class="text">{{ts.0|date:"M. d"}}</div>
                    </th>
                    <th colspan=2>
                        <div class="text">{{ts.1|date:"M. d"}}</div>
                    </th>
                    <th colspan=2>
                        <div class="text">{{ts.2|date:"M. d"}}</div>
                    </th>
                    <th colspan=2>
                        <div class="text">{{ts.3|date:"M. d"}}</div>
                    </th>
                    <th colspan=2>
                        <div class="text">{{ts.4|date:"M. d"}}</div>
                    </th>
                    <th colspan=2>
                        <div class="text">{{ts.5|date:"M. d"}}</div>
                    </th>
                    <th colspan=2>
                        <div class="text">{{ts.6|date:"M. d"}}</div>
                    </th>
                    <th rowspan=3 style="vertical-align: middle; padding: 1px;">
                        <div class="text">DAYS</div>
                    </th>
                    <th rowspan=3 style="vertical-align: middle; padding: 1px;">
                        <div class="text">OT</div>
                    </th>
                    <th rowspan=3 style="vertical-align: middle; padding: 1px;">
                        <div class="text" style="font-size: 8px;">REMARKS</div>
                    </th>
                </tr>

                <tr>
                    <th>
                        <div class="text"></div>
                    </th>
                    <th>
                        <div class="text">.</div>
                    </th>
                    <th colspan=2>
                        <div class="text">SUNDAY</div>
                    </th>
                    <th colspan=2>
                        <div class="text">MONDAY</div>
                    </th>
                    <th colspan=2>
                        <div class="text">TUESDAY</div>
                    </th>
                    <th colspan=2>
                        <div class="text">WEDNESDAY</div>
                    </th>
                    <th colspan=2>
                        <div class="text">THURSDAY</div>
                    </th>
                    <th colspan=2>
                        <div class="text">FRIDAY</div>
                    </th>
                    <th colspan=2>
                        <div class="text">SATURDAY</div>
                    </th>
                </tr>

                <tr>
                    <th>
                        <div class="text"></div>
                    </th>
                    <th>
                        <div class="text">NAME</div>
                    </th>
                    <th>
                        <div class="text">IN</div>
                    </th>
                    <th>
                        <div class="text">OUT</div>
                    </th>
                    <th>
                        <div class="text">IN</div>
                    </th>
                    <th>
                        <div class="text">OUT</div>
                    </th>
                    <th>
                        <div class="text">IN</div>
                    </th>
                    <th>
                        <div class="text">OUT</div>
                    </th>
                    <th>
                        <div class="text">IN</div>
                    </th>
                    <th>
                        <div class="text">OUT</div>
                    </th>
                    <th>
                        <div class="text">IN</div>
                    </th>
                    <th>
                        <div class="text">OUT</div>
                    </th>
                    <th>
                        <div class="text">IN</div>
                    </th>
                    <th>
                        <div class="text">OUT</div>
                    </th>
                    <th>
                        <div class="text">IN</div>
                    </th>
                    <th>
                        <div class="text">OUT</div>
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for q in query %}
                <tr>
                    <td >{{ forloop.counter }}</td>
                    <td style="text-align: left;">{{q.name}}</td>
                    <td >{{q.ti1|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.to1|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.ti2|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.to2|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.ti3|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.to3|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.ti4|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.to4|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.ti5|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.to5|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.ti6|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.to6|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.ti7|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{q.to7|date:'g:i A'|default_if_none:""}}</td>
                    <td >{{ final_listahan|index_day:forloop.counter0|default_if_none:"" }}</td>
                    <td >{{ final_listahan|index_ot:forloop.counter0|default_if_none:"" }}</td>
                    <td ></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}