{% extends 'T_Tech/base_site.html' %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">person</i>
          </div>
          <p class="card-category">Employees</p>
          <h3 class="card-title">  
              {{emps.present.count}} / {{emps.total}}
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">how_to_reg</i> <span class="text-info font-weight-bold" style="font-size: 14px;">{{emps.percentage}}%</span> &nbsp; of Employees are Present
          </div>
        </div>
      </div>
    </div>
    {% if bday_list.count > 0 %}
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">cake</i>
          </div>
          <p class="card-category">This Month</p>
          <h3 class="card-title">
              {{bday_list.count}} <span style="font-size:12px; line-height: 1px;">Employee(s)</span>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> Birthdays
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">perm_identity</i>
          </div>
          <p class="card-category">Contractor</p>
          <h6 class="card-title font-weight-normal">
            <span style="font-size: 18px; line-height:1px;">BLAIRWIN </span> <span style="font-size: 20px; line-height:1px; font-weight:bold;" class="text-info">{{contractor.blairwin}}% </span>
            <div style="margin:0 !important; padding:0 !important; line-height:0px;"></div>
            <span style="font-size: 18px; line-height:1px;">NGB </span> <span style="font-size: 20px; line-height:1px; font-weight:bold;" class="text-danger">{{contractor.ngb}}% </span>
          </h6>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">info</i>Employee on site
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-success">
          <div class="ct-chart" id="dailySalesChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Daily Sales</h4>
          <p class="card-category">
            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated 4 minutes ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-warning">
          <div class="ct-chart" id="websiteViewsChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Email Subscriptions</h4>
          <p class="card-category">Last Campaign Performance</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> campaign sent 2 days ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-danger">
          <div class="ct-chart" id="completedTasksChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Completed Tasks</h4>
          <p class="card-category">Last Campaign Performance</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> campaign sent 2 days ago
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}