
@keyframes airplanePropeller {
  from {
    transform-origin: center;
    transform: rotate(-20000deg);
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.airplanePropeller {
  animation-name: airplanePropeller;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes pulsate {
  from {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  to {
  }
}

.pulsate {
  animation-name: pulsate;
  animation-duration: 5s;
}

@keyframes iWanChuBack {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
    transform: scale3d(0.1, 0.1, 0.1);
  }

  50% {
    opacity: 1;
    transform: scale3d(0.1, 0.1, 0.1);
  }

  to {
    opacity: 1;
  }
}

.iWanChuBack {
  animation-name: iWanChuBack;
  animation-duration: 3s;
}

@keyframes lawnMower {
  0% {
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateY(12225deg);
  }
}

.lawnMower {
  animation-duration: 5s;
  animation-name: lawnMower;
  animation-timing-function: ease-in-out;
}


@keyframes highlighter {
  0% {
    background-color: rgba(0, 255, 255, 0);
    background-color: rgba(0, 255, 255, 128);
  }

  100% {
    background-color: rgba(0, 255, 255, 0);
    background-color: rgba(127, 219, 255, 0);
  }
}


@keyframes nope {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-7px) rotateY(-10deg);
  }

  18.5% {
    transform: translateX(6px) rotateY(8deg);
  }

  31.5% {
    transform: translateX(-4px) rotateY(-6deg);
  }

  43.5% {
    transform: translateX(3px) rotateY(4deg);
  }

  50% {
    transform: translateX(0);
  }
}

.nope {
  animation-name: nope;

  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes heartBeat {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1.1);
  }
}

.heartBeat {
  animation-name: heartBeat;
  animation: heartBeat 0.66s alternate;
  animation-iteration-count: 8;
}

@keyframes sleepyEyes {
  0% {
    transform: perspective(400px);
  }
  5% {
    transform: perspective(400px) rotateX(-20deg);
    opacity: 0.5;
  }
  15% {
    transform: perspective(400px);
    opacity: 1;
  }
  35% {
    transform: perspective(400px) rotateX(-20deg);
    opacity: 0.75;
  }

  45% {
    transform: perspective(400px) rotateX(-2deg);
    opacity: 1;
  }

  60% {
    transform: perspective(400px) rotateX(-90deg);
    opacity: 0;
  }

  70% {
    transform: perspective(400px) rotateX(-45deg);
    opacity: .5;
  }

  80% {
    transform: perspective(400px) rotateX(-70deg);
    opacity: .75;
  }
  to {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

.sleepyEyes {
  animation-name: sleepyEyes;
  animation-duration: 10s;
  backface-visibility: visible !important;
}
