{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'T_Tech/assets/dist/css/bootstrap.min.css' %}">
        {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'T_Tech/styleIboard.css' %}">
        <title> &#65279; </title>
    </head>
    <body class="bgdark" style="overflow:hidden;">
        
        <!-- jQuery library -->
        <script src="{% static 'T_Tech/assets_material/js/core/jquery.min.js' %}"></script>
        {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> {% endcomment %}
        <!-- Popper JS -->
        <script src="{% static 'T_Tech/assets_material/js/core/popper.min.js' %}"></script>
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> {% endcomment %}
        <!-- Latest compiled JavaScript -->
        <script src="{% static 'T_Tech/assets_material/js/core/bootstrap-material-design.min.js' %}"></script>
        {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> {% endcomment %}
        <!--<script src="{% static 'office/main.js' %}"></script>-->
        <script src="{% static 'T_Tech/chartjs/Chart.min.js' %}"></script>
        <script src="{% static 'T_Tech/chartjs/chartjs-plugin-datalabels.min.js' %}"></script>
        <script src="{% static 'T_Tech/chartjs/chartjs-plugin-style.min.js' %}"></script>

        {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-style@latest/dist/chartjs-plugin-style.min.js"></script> {% endcomment %}

        {% comment %} <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script> {% endcomment %}
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script> {% endcomment %}

        {% block content %}
        
        {% endblock %}
        
    </body>
</html>