html {
  height: 96%;
}
/* background */
.bg {
  background-image: url('CTA.png');
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.bgbday {
  background-image: url("bday.png");
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.bgdark {
  /*background-image: url("CTA.png");*/
  background-color: rgba(0, 0, 0, 1);
  background-blend-mode: lighten;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

/* logo */
#block_containerLogo {
  text-align: center;
}

#bloc1Logo {
  display: inline-block;
  vertical-align: middle;
}

#bloc2Logo {
  vertical-align: middle;
  display: inline-block;
}

#table thead tr th {
  padding: 0;
  padding-left: 12px;
  text-align: left;
}

#table tbody tr td {
  line-height: 8px;
  text-align: left;
}

#tablea {
  width: 99%;
  max-width: 99%;
  /* margin-bottom: 1rem; */
  overflow: hidden;
  border-radius: 3px;
}

#tablea tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

#tablea td {
  border: 1px solid #ddd;
}

#tablea th {
  color: #fff;
  background-color: #343a40;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-check {
  display: inline-block;
  margin-left: 54px;
  margin-right: 54px;
  font-weight: Bold;
}
label[for="id_id_Status_0_1"] {
  color: Green;
}
label[for="id_id_Status_0_2"] {
  color: Yellow;
}
label[for="id_id_Status_0_3"] {
  color: Red;
}

@media print {
  @page {
    size: landscape;
  }

  #side3 {
    border: 0;
  }
  #side1,
  #side2,
  #side4,
  #side5,
  #side6,
  #myInput {
    display: none;
  }

  #D3Cube {
    animation: cubeRotation 0s infinite linear;
  }
  .bg {
    background-image: url("");
  }
  .container {
    display: inline;
  }
}
